@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/blocks\/\*\.png}line{font-family:\0000342}}
.blocks-sprite {
  background: url('../img/blocks-se67911b666.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\000039}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000319}}
html {
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000323}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000327}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000331}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000338}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000344}}
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000349}}
ins {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000353}}
del {
  text-decoration: line-through;
}

/* tables still need "cellspacing="0"" in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000358}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000363}}
textarea {
  overflow: auto;
  /* for IE */
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000368}}
fieldset {
  border: 0 solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000372}}
input {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_reset\.scss}line{font-family:\0000376}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\000033}}
html, body {
  height: 100%;
  min-width: 1024px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\000038}}
html {
  font-size: 100.01%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000312}}
body {
  font: .75em Arial Helvetica sans-serif;
  /* 12px */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000316}}
.g-clrfix {
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000320}}
.g-clrfix:after {
  content: ".";
  display: block;
  clear: both;
  font: 0/0 a;
  height: 0;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000329}}
.g-clickable {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000333}}
.g-floated {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000337}}
.g-text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000345}}
.g-uppercase {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000349}}
.g-lowercase {
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_global\.scss}line{font-family:\0000353}}
.g-bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_blocks\.scss}line{font-family:\000033}}
.l-wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 4px 0 #aeaeae;
  -moz-box-shadow: 0 0 4px 0 #aeaeae;
  box-shadow: 0 0 4px 0 #aeaeae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_header\.scss}line{font-family:\000031}}
.b-header {
  position: relative;
  padding: 2px 16px;
  background-color: #f0f8ff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0F8FF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f8ff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_header\.scss}line{font-family:\000039}}
.b-header .page-header {
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_header\.scss}line{font-family:\0000317}}
.b-header-ingroup_info {
  position: relative;
  margin: 8px 0;
  color: #31708f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_calc\.scss}line{font-family:\000031}}
.b-calc {
  padding: 0 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_footer\.scss}line{font-family:\000031}}
.b-footer {
  position: relative;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_main_info\.scss}line{font-family:\000031}}
.b-main_info {
  padding: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/static\/styles\/_icons\.scss}line{font-family:\000031}}
.b-icon {
  display: block;
}
