@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/blocks\/\*\.png}line{font-family:\0000342}}
.blocks-sprite {
  background: url('../img/blocks-s7d29a9affd.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\000039}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000319}}
html {
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000323}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000327}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000331}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000338}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000344}}
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000349}}
ins {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000353}}
del {
  text-decoration: line-through;
}

/* tables still need "cellspacing="0"" in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000358}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000363}}
textarea {
  overflow: auto;
  /* for IE */
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000368}}
fieldset {
  border: 0 solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000372}}
input {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_reset\.scss}line{font-family:\0000376}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\000033}}
html, body {
  height: 100%;
  min-width: 1024px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\000038}}
html {
  font-size: 100.01%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000312}}
body {
  font: .75em Arial Helvetica sans-serif;
  /* 12px */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000316}}
.g-clrfix {
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000320}}
.g-clrfix:after {
  content: ".";
  display: block;
  clear: both;
  font: 0/0 a;
  height: 0;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000329}}
.g-clickable {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000333}}
.g-floated {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000337}}
.g-text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000345}}
.g-uppercase {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000349}}
.g-lowercase {
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_global\.scss}line{font-family:\0000353}}
.g-bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_blocks\.scss}line{font-family:\000033}}
.l-body {
  background-image: url(../img/blocks/white_wall_hash.png);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_blocks\.scss}line{font-family:\000037}}
.l-content {
  background: #fff;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_blocks\.scss}line{font-family:\0000312}}
.l-wrapper {
  width: 960px;
  position: relative;
  margin: 12px auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px 0 #7296c5;
  -moz-box-shadow: 0 0 4px 0 #7296c5;
  box-shadow: 0 0 4px 0 #7296c5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_blocks\.scss}line{font-family:\0000322}}
.col-lg-6 {
  margin-bottom: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_blocks\.scss}line{font-family:\0000326}}
.b-total_sum {
  color: #0571A3;
  float: left;
  margin: 6px 0 0 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_header\.scss}line{font-family:\000031}}
.b-header {
  font-family: Helvetica;
  position: relative;
  padding: 2px 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #f0f8ff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0F8FF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f8ff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #f0f8ff 0%, #ffffff 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_header\.scss}line{font-family:\0000311}}
.b-header .page-header {
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_header\.scss}line{font-family:\0000319}}
.b-header-ingroup_info {
  position: relative;
  margin: 8px 0;
  color: #31708f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_calc\.scss}line{font-family:\000031}}
.b-calc {
  padding: 0 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_footer\.scss}line{font-family:\000031}}
.b-footer {
  position: relative;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_loader\.scss}line{font-family:\000031}}
.b-loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 16;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  background: #005BA3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_loader\.scss}line{font-family:\0000312}}
.b-loading {
  position: relative;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_loader\.scss}line{font-family:\0000324}}
.b-loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
}

@keyframes rotate {
  /* line 41, ../styles/_loader.scss */
  0% {
    transform: rotateZ(0deg);
  }

  /* line 44, ../styles/_loader.scss */
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotate {
  /* line 50, ../styles/_loader.scss */
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 53, ../styles/_loader.scss */
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 59, ../styles/_loader.scss */
  0% {
    -moz-transform: rotateZ(0deg);
  }

  /* line 62, ../styles/_loader.scss */
  100% {
    -moz-transform: rotateZ(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_main_info\.scss}line{font-family:\000031}}
.b-main_info {
  padding: 2px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_main_info\.scss}line{font-family:\000034}}
.b-main_info .carousel-control {
  width: auto;
  margin-top: -7px;
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_main_info\.scss}line{font-family:\0000310}}
.b-main_info .carousel-inner {
  padding: 8px 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_main_info\.scss}line{font-family:\0000314}}
.b-main_info .carousel-indicators {
  bottom: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/insurance\/backend\/public\/static\/styles\/_icons\.scss}line{font-family:\000031}}
.b-icon {
  display: block;
}
