$dark-blue: #31708F;

.l-body {
	@include background-image(linear-gradient(top, rgba(255, 209, 111, 0.02) 0%, rgba(255, 209, 111, 0.02) 100%),  url(../img/blocks/lightpaperfibers.png));
}

.l-content {
	background: #fff;
	padding-bottom: 20px;
}

.l-wrapper {
	width: 960px;
	position: relative;
	margin: 12px auto;

	@include border-radius(8px);

	@include box-shadow(0 0 4px 0 #7296C5);
}

.col-lg-6 {
	margin-bottom: 8px;
}

.b-total_sum {
	color: #0571A3;
	float: left;
	margin: 6px 0 0 4px;
}