.b-header {
	font-family: Helvetica;
	position: relative;
	padding: 2px 16px;
	@include border-radius(8px);
	background-color: #D2F2FF; // Old browsers
	@include filter-gradient(#D2F2FF, #ffffff, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #D2F2FF 0%,#ffffff 100%));


	.page-header {
		margin: 0 0 12px;
	}
}

.b-header-title {
}

.b-header-ingroup_info {
	position: relative;
	margin: 8px 0;
	color: $dark-blue;
}