.b-main_info {
	padding: 2px 16px;

	.carousel-control {
		width: auto;
		margin-top: -7px;
		background-image: none;
	}

	.carousel-inner {
		padding: 8px 32px;
	}

	.carousel-indicators {
		bottom: -20px;
	}
}